<div class="gallery-image-wrapper">
  <div
    class="gallery-image"
    *ngIf="localImages.length"
    [class.load-failed]="
      localImages[selectedIndex].status === 'loading' ?
        localImages[prevSelectedIndex].status === 'failed' :
        localImages[selectedIndex].status === 'failed'
    "
  >
    <img
      [src]="localImages[selectedIndex].status === 'loading' ? localImages[prevSelectedIndex].src : localImages[selectedIndex].src"
      [alt]="localImages[selectedIndex].alt"
    >
  </div>
  <div
    class="gallery-loader"
    *ngIf="localImages[selectedIndex]"
    [class.active]="localImages[selectedIndex].status === 'loading' && selectedIndex !== prevSelectedIndex"
  ></div>
  <div class="gallery-arrows" *ngIf="localImages.length > 1">
    <div class="gallery-arrow gallery-arrow-left" (click)="updateSelectedIndex(false, $event)"></div>
    <div class="gallery-arrow gallery-arrow-right" (click)="updateSelectedIndex(true, $event)"></div>
  </div>
</div>
